local:
    rico:
        schema.registry.url: "http://localhost:9081"
        string-serde.class: com.quantiply.samza.serde.JSONStringSerde
        drop.on.error: true
    task:
        class: com.quantiply.samza.JythonTask

samza:
    #Job
    job.factory.class: org.apache.samza.job.local.ThreadJobFactory

    #Task
    task:
      class: com.quantiply.rico.samza.SamzaRunner
      checkpoint.factory: org.apache.samza.checkpoint.kafka.KafkaCheckpointManagerFactory
      checkpoint.system: kafka
      checkpoint.replication.factor: 1
      consumer.batch.size: 1
    
    # Metrics
    metrics.reporters: snapshot,jmx
    metrics.reporter.snapshot.class: org.apache.samza.metrics.reporter.MetricsSnapshotReporterFactory
    metrics.reporter.snapshot.stream: kafka.sys.samza_metrics
    metrics.reporter.jmx.class: org.apache.samza.metrics.reporter.JmxReporterFactory

    # Serializers
    serializers.registry.json.class: org.apache.samza.serializers.JsonSerdeFactory
    serializers.registry.byte.class: org.apache.samza.serializers.ByteSerdeFactory
    serializers.registry.metrics.class: org.apache.samza.serializers.MetricsSnapshotSerdeFactory

    # Systems
    systems.kafka.samza.factory: org.apache.samza.system.kafka.KafkaSystemFactory
    systems.kafka.samza.key.serde: byte
    systems.kafka.samza.msg.serde: json
    #Serde for metrics topic
    systems.kafka.streams.sys.samza_metrics.samza.msg.serde: metrics
    #Important for testing so that you can load data first
    systems.kafka.samza.offset.default: oldest
    systems.kafka.consumer.zookeeper.connect: localhost:2181/
    systems.kafka.producer.bootstrap.servers: localhost:9092
    systems.kafka.producer.compression.type: lz4
    systems.kafka.producer.batch.size: 262144
    systems.kafka.producer.linger.ms: 5

yarn:
  job.factory.class: org.apache.samza.job.yarn.YarnJobFactory
  yarn.container:
    count: 1
    memory.mb: 2048
    cpu.cores: 1
  yarn.am.container.memory.mb: 1024
