samza-to-statsd:
  common:
    rico:
      jython.entrypoint: rico.metrics.task.SamzaMetricsTask
      streams.out: sys.statsd
  samza:
    job.name: samza-to-statsd
    task:
      class: com.quantiply.samza.JythonTask
      inputs: kafka.sys.samza_metrics
    metrics.reporters: jmx #not configuring stats for this job as it's a special case
    systems.kafka.streams.sys.samza_metrics.samza.msg.serde: json
    
druid-to-statsd:
  common:
    rico:
      jython.entrypoint: rico.metrics.task.DruidMetricsTask
      streams.out: sys.statsd
  samza:
    job.name: druid-to-statsd
    task:
      class: com.quantiply.samza.JythonTask
      inputs: kafka.sys.samza_metrics

statsd-push:
  common:
    rico:
      drop.on.error: true
      jython.entrypoint: rico.metrics.task.StatsDTask
      drop.secs: 999999999999
      tcp.enable: true
      statsd:
        prefix: RTOI.sit.7
        host: statsite.uat.etrade.com
        port: 8125
  
  samza:
    job.name: statsd-push
    job.id: 2
    task:
      class: com.quantiply.samza.JythonTask
      inputs: kafka.sys.statsd